#blocker

    #instructions
        span(style="font-size:40px") Click to play
        br
        | (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)

script(src = 'js/PointerLockControls.js')
script(src = 'js/pointerlock.js')
