@use 'sass:color';

$bgColor: #dfdfdf;
$mainColor: #666;

$inputSize: 20rem;

body {
	width: 100%;
	height: 100%;
	background-color: $bgColor;
	color: $mainColor;
}

.view {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

#main-menu {
	z-index: 4;
}

#map {
	position: relative;

	#canvasView {
		margin: 4em auto 0 auto;
	}
}

#seed-input {
	position: fixed;
	padding: 0;
	margin-top: 1rem;
	left: 50%;
	margin-left: calc(-1 * $inputSize / 2);
	width: $inputSize;
	font-weight: bold;

	label {
		text-indent: -9001px;
		display: inline-block;
	}

	input {
		width: 100%;
		position: absolute;
		right: 0;
	}

	button {
		position: absolute;
		right: 0;
		top: 0;
	}

	input,
	button {
		font-family: 'Segoe UI', 'Helvetica', sans-serif;
		font-weight: 400;
		//text-shadow:0 0 2px rgba(0,0,0,0.25);
		border-radius: 3rem;
		border-width: 0;
		border-style: solid;
		padding: 0.25rem 1rem;
		display: inline-block;
		box-shadow:
			inset 0px 0px 2px 0px rgba($mainColor, 20%),
			0px 0px 2px 0px rgba($mainColor, 20%);
		margin: 0;
		display: inline-block;
		color: $mainColor;
		border-color: $mainColor;
		background-color: $bgColor;
		background-image: linear-gradient(to bottom, $bgColor, white);
	}

	button {
		padding: 0.25rem 0.75rem;
		box-shadow: inset 0px 0px 2px 0px rgba($mainColor, 20%);

		&#reload {
			right: 0;
			padding: 0.25rem 0.5rem;
		}

		transition: ease-in 0.2s all;
		background-image: linear-gradient(to bottom, white, $bgColor);

		&:focus {
			background-image: linear-gradient(
				to bottom,
				color.adjust(white, $lightness: -0.1%) $bgColor
			);
			box-shadow: inset 0px 0px 4px 0px rgba($mainColor, 20%);
		}

		&:active {
			background-image: linear-gradient(to bottom, $bgColor, white);
		}

		&#generate {
		}
	}
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ffffff;
	margin: 0;
	// overflow: hidden;
	font-family: arial;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
	width: 100%;
	height: 100%;
	display: block;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

.map-container {
	display: grid;
}
