doctype html
html
    head
        title | Minotaur
        link(rel='stylesheet',href='styles/index.css')
    body
        canvas#minotaur
        div#gui
        .view#main-menu
            form#seed-input
                label(for='seed') Seed
                input(id='seed',type='text',placeholder='ABCD1234',pattern='([A-Z]|[a-z]|[0-9]){8}')
                button#reload(type='button',title="get a random seed") &#x21bb;&nbsp;New Seed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                button#generate(type='submit') &#x1f680; Generate
        .view#map
            canvas#canvasView
        .view#controls
                .nipple-circle

            #actions
                button(id='rotateLeft') &lt;
                button(id='forward') &lt;
                button(name='rotateRight') &gt;
            #moves
                button(id='strafeLeft') &lt;
                button(id='backward') &lt;
                button(name='strafeRightt') -90

        .view#inventory
                #equipedItems
                    #head
                    #body
                    #left
                    #right
                #bag
        .view#options
        script(src='./scripts/minotaur.js')
